<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Slim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>slim-doc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E82ABB31AC1950A009080F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E82ABB71AC19572009080F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E8B7A171AC40B9500686684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E8B7A1B1AC40BD900686684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E8B7A1F1AC40BEB00686684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E8B7A231AC40CFC00686684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8ECA9CB81AC53F0500D3FCD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
